*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Bitter', serif;
}
.container-header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    background-image: linear-gradient(45deg, #2c3e50, #8e44ad);
    background-size: 300% 300%;
    border-bottom: 1px solid #8e44ad;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 20px;
}

.title-principal{
    color: #fff;
    font-weight: 500;
    font-size: 2.5rem;
    text-transform: capitalize;
}
li{
    padding: 5px;
}
.menu-a{
    color: #fff;
}

.menu-a:hover:active{
    color: #000;
}
@media(min-width:500px){
    li{
        padding: 10px;
    }
    .container-ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    .menu-a{
        border: 1px solid #fff;
        border-radius: 0 0 0 10px;
        padding: 10px 20px;
        font-weight: 500;
    }

    .menu-a:hover{
        background: #fff;
        color: #8e44ad;
    }
}

.conteudo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image:-moz-linear-gradient(45deg, #2c3e50,#8e44ad);
    background-size: 500% 400%; 
    border-bottom:2px solid #8e44ad;
    animation: move 10s ease-in-out infinite;
}

@keyframes move{
    0%, 100%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 50% 100%;
    }
}


@media(min-width:500px){
    .conteudo{
        height: 50vh;
        border-bottom:2px solid #8e44ad;
    }
}

.title-conteudo{
    color: #fff;
    font-weight: 500;
    font-size: 1.5rem;
}


.box{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
    margin: 20px;
}

.cards{
    border: 1px solid  #8e44ad;
    padding: 30px;
    width: 300px;
    height: 340px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards:hover{
    transform: scale(0.9);
    transition: 0.25s;
}

@media(min-width:500px){
    .cards:hover{
        transform: scale(1.1);
        transition: 0.25s;
    }
}

.title-cards{
    font-size: 1em;
    text-transform: uppercase;
    padding-top:20px;
}

.descricao{
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
}

span{
    padding: 10px;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: lowercase   ;
}


div a{
    color: #8e44ad;
    cursor: pointer;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 0 0 0 10px;
    text-transform: uppercase;
}

div a:hover{
    background: #2c3e50;
    color: #fff;
}

/* Página sobre */

.container-sobre{
    height: 100vh;
    background-image:-moz-linear-gradient(45deg, #2c3e50,#8e44ad);
    background-size: 500% 400%; 
    animation: move 10s ease-in-out infinite; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}

.h1-sobre{
    color: #fff;
    font-size: 12px;
}

@media(min-width:500px){
    .h1-sobre{
        font-size:2rem;
    }
}